body {
  font-family: monospace, sans-serif;
    background-color:#000000;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
  
  
  #perfil {
    background-color: #00565c;
    text-align: center;
    display: flex;
    justify-content: center
  }
  .divisoria{
    background-color: black;
    height: 0.2px;
    width: 150px;
  }
  #perfil p{
    text-align: justify;
    margin: 7px;
  }
  
  .Habilidades{
    white-space: pre-line;
  }
  .infoPerfil{
    display: flex;
    align-items: flex-start;

  }